PileUpMCFileName : "PileupMC_v3.root" 
PileUpDATAFileName : "DATAPileUp.root"
DoPUCor : "true"
trigger : {"HLT_ZeroBias_part","HLT_ZeroBias_v"}
DoJetVeto : "true"
JetVetoFName : "hotjets-UL18" 
JetVetoHName : "h2hot_ul18_plus_hem1516_and_hbp2m1"
EtaBins : {"0", "0p261", "0p522", "0p783", "1p044", "1p305", "1p566", "1p740", "1p930", "2p043", "2p172", "2p322", "2p500", "2p650", "2p853", "2p964", "3p139", "3p489", "3p839", "5p191"}
JECApply : "true"
JECType : "L1RCNega"
