PileUpMCFileName : "PUSingleNeuFlatHEM.root" 
PileUpDATAFileName : "v1_RunA.root"
trigger : {"HLT_ZeroBias_part","HLT_ZeroBias_v"}
DoPrescale : "true"
DoPUCor : "true"
DoJetVeto : "true"
JetVetoFName : "hotjets-UL18" 
JetVetoHName : "h2hot_ul18_plus_hem1516_and_hbp2m1"
EtaBins : {"0","0p5","0p8","1p1","1p3","1p7","1p9","2p1","2p3","2p5","2p8","3p0","3p2","4p7"} 
