PileUpMCFileName : "DataMu_PreScaled.root" 
PileUpDATAFileName : "DATAPileUp.root"
trigger : {"HLT_ZeroBias_part","HLT_ZeroBias_v"}
DoPrescale : "false"
DoPUCor : "false"
EtabinLower : 0.5
EtabinUpper : 0.8
DoJetVeto : "true"
JetVetoFName : "hotjets-UL18" 
JetVetoHName : "h2hot_ul18_plus_hem1516_and_hbp2m1"
